---
layout: default
---

<div class="home">
  
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  <img src="/assets/img/profile.JPG" alt="" height = "500" ALIGN="right"/>
  <h1>Hi, I'm Xinyi (Isabella) Qiao and I'm a software developer.</h1>
  <p>It's nice to meet you!</p>
  <br clear="right">
  <br>
  {{ content }}
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

  <div class="loader-wrapper">
    <img src="/assets/img/bird.gif" alt="loader" height="500">
  </div>
  <script>
    $(window).on("load", function() {
      setTimeout(function(){
        $(".loader-wrapper").fadeOut("slow");
      }, 1500);
    });

  </script>
</div>
